<h1 class="heading"><b>Checkout All Videos From Youtube</b></h1>
<div *ngIf="items">
    <app-pagination></app-pagination>
    <!-- <div class="row">
    <div class="card" *ngFor="let item of items">
        <img src="{{item.snippet.thumbnails.default.url}}" alt="Avatar" style="width:100%;border-radius: 20px;">
        <div class="container">
            <h4><b>{{item.snippet.title}}</b></h4>
        </div>
    </div>
</div> -->

    <div class="row">
        <div class="card">
            <img src="https://i.ytimg.com/vi/5V9ynnLzCGg/default.jpg" alt="Avatar"
                style="width:100%;border-radius: 20px;">
            <div class="container">
                <h4><b>Changed Channel name to MilesToTravel | New Name | New Videos</b></h4>
            </div>
        </div>
    </div>
</div>

<div *ngIf="error">

    <div style="text-align: center;">
        <h2 style="font-size: 20px; margin-top: 100px; color: #ff3f3f;"><b>Error Fetching Youtube Videos from youtube
                API, Please
                CLick
                on Below
                Button To go Youtube
                Page.</b></h2>
        <div class="youtube-sub" onclick="window.open(
            'http://google.com',
            '_blank' // <- This is what makes it open in a new window.
          );">Watch on Youtube</div>

    </div>

</div>