/* You can add global styles to this file, and also import other style files */

html, body { height: vh; }
body { margin: 0; 
 }

 @font-face {
  font-family: Vollkorn-BlackItalic;
  src: url(/assets/fonts/Vollkorn-BlackItalic.ttf) format("truetype");
}

@font-face {
  font-family: Vollkorn-ExtraBoldItalic;
  src: url(/assets/fonts/Vollkorn-ExtraBoldItalic.ttf) format("truetype");
}

@font-face {
  font-family: Vollkorn-BoldItalic;
  src: url(/assets/fonts/Vollkorn-BoldItalic.ttf) format("truetype");
}


@font-face {
  font-family: Vollkorn-Italic;
  src: url(/assets/font/Vollkorn-Italic.ttf) format("truetype");
}


  h1,h2,h3,h4,h5 {font-family: "Vollkorn-ExtraBoldItalic";
    font-weight: bold;}
   /* Responsive Styles */
   @media screen and (max-width: 767px) {

    .card-container>*:not(.circle-link),
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }

  .example-container {
    width: 400px;
    height: 200px;
    margin: 10px;
    border: 1px solid #555;
  }