<!-- Header -->
<div class="header">
    <h1>Welcome To My Travel Page</h1>
    <p>Resize the browser window to see the responsive effect.</p>
</div>

<!-- Photo Grid -->
<div class="row">
    <div class="column">
        <img src="https://i.ytimg.com/vi/5V9ynnLzCGg/default.jpg" style="width:100%">
        <img src="https://i.ytimg.com/vi/5V9ynnLzCGg/default.jpg" style="width:100%">
        <img src="https://i.ytimg.com/vi/5V9ynnLzCGg/default.jpg" style="width:100%">
    </div>
    <div class="column">

        <img src="https://i.ytimg.com/vi/5V9ynnLzCGg/default.jpg" style="width:100%">
        <img src="https://i.ytimg.com/vi/5V9ynnLzCGg/default.jpg" style="width:100%">
        <img src="https://i.ytimg.com/vi/5V9ynnLzCGg/default.jpg" style="width:50%">
    </div>
    <div class="column">

        <img src="https://i.ytimg.com/vi/5V9ynnLzCGg/default.jpg" style="width:100%">
        <img src="https://i.ytimg.com/vi/5V9ynnLzCGg/default.jpg" style="width:50%">
        <img src="https://i.ytimg.com/vi/5V9ynnLzCGg/default.jpg" style="width:100%">
    </div>
    <div class="column">

        <img src="https://i.ytimg.com/vi/5V9ynnLzCGg/default.jpg" style="width:50%">
        <img src="https://i.ytimg.com/vi/5V9ynnLzCGg/default.jpg" style="width:100%">
        <img src="https://i.ytimg.com/vi/5V9ynnLzCGg/default.jpg" style="width:100%">
    </div>
</div>